#menuLabel {
    position: absolute;
    z-index: 9;
    background-color: #464646;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 100px;
}
  
#menuLabelheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #1b1b1b;
    color: #fff;
}

.menu_Label_cursor{
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
}

.menu_Label_cursor .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    /* top: -5px; */
    /* left: 10px; */
  }
  
  .menu_Label_cursor .tooltiptext::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .menu_Label_cursor:hover .tooltiptext{
    visibility: visible;
  }


  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .sync_iot_data {
    display: inline;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }